<% layout("../layouts/boilerplate.ejs") %> 
<div class="nav-container">
    <nav>
        <a href="/index#spacecrafts-list">List of Spacecrafts</a>
        <a href="/add">Add a Spacecraft</a>
    </nav>
</div>
<div class="lead-add" id="lead-error">
    <div class="lead-content">
        <h2 class="m-5" id="spacecrafts-list">Oh no, Error!</h2>
        <p>The page you requested could not be found</p>
    </div>
</div>
